<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         colors="true"
         bootstrap="tests/bootstrap.php"
         cacheResult="false"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
         beStrictAboutCoverageMetadata="true">
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
        <server name="SYMFONY_PHPUNIT_REMOVE" value=""/>
        <server name="SYMFONY_PHPUNIT_VERSION" value="9.5"/>

        <!-- ###+ cmsig/seal-symfony-bundle ### -->
        <!-- Install one of the following adapters: https://php-cmsig.github.io/search/getting-started/index.html -->
        <!-- SEAL_DSN="meilisearch://127.0.0.1:7700" -->
        <!-- SEAL_DSN="algolia://ALGOLIA_APPLICATION_ID:ALGOLIA_ADMIN_API_KEY" -->
        <!-- SEAL_DSN="elasticsearch://127.0.0.1:9200" -->
        <!-- SEAL_DSN="opensearch://127.0.0.1:9200" -->
        <!-- SEAL_DSN="redis://127.0.0.1:6379" -->
        <!-- SEAL_DSN="solr://127.0.0.1:8983" -->
        <!-- SEAL_DSN="typesense://S3CR3T@127.0.0.1:8108" -->
        <env name="SEAL_DSN" value="loupe://%kernel.project_dir%/var/indexes"/>
        <!-- ###- cmsig/seal-symfony-bundle ### -->
    </php>
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
